@mixin posiBack{
  position: absolute; 
  width: 100%; height: 100%; 
  content: ''; 
  top: 0; left: 0;
  z-index: -1; 
}

.homeC{
  background: url(./assets/hotelgb.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem; 
    }
    h4{
      position: relative;
      color: #cac02d;
      z-index: 1;
      &::after{
        @include posiBack();
        background-color: #000000;
        filter: blur(10px);
      }
    }
      h2{
        font-size: clamp(1.5rem,20vw,3rem);
          margin-bottom: none !important;
          padding-bottom: none !important;
          text-align: start !important;
          font-family:sans-serif;
          
      }
      h1{
          font-size: clamp(2rem,20vw,5rem);
          margin-top: none;
          text-align: center;
          font-weight: 400;
          background: linear-gradient(to right,red,blue,aliceblue,red,green,orange,aqua);
          -webkit-background-clip: text;
          background-size: 400% 400%;
          -webkit-text-fill-color:transparent;
          animation: gac 6s ease infinite;
          .heading{
              font-family: "Agu Display", serif;
              font-optical-sizing: auto;
              font-weight: 100;
              font-style: italic;
          }
          
      }
      
    button{
      margin: auto;
    }
    h5{
      color: #f0e223;
      font-weight: 300;
      position: relative;
      z-index: 1;
      &::after{
        @include posiBack();
        background-color: #070c00;
        filter: blur(60px);
      }
    }
    @media  (max-width: 768px) {
      background-size: cover;
      background-position: center;
      background-attachment: scroll;
      h1{
        position: relative;
        z-index: 1;
        &::after{
          @include posiBack();
          background-color: #00000041;
          filter: blur(60px);
        }
      }
      h5{
        text-align: justify;
      }
    }
}
@keyframes gac {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.listItemC{
    
    border-radius: 15px;
    transition: all 0.6s ease;
    color: rgb(0, 85, 255);
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba($color: #fbfbfb, $alpha: 1.2);
    font-weight: 400;
    

    &:hover{
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.5);
        h5{
            transform: scale(1.2);
            font-weight: 600 !important;
        }
        img{
            transform: rotate3d(1, 1, 1, 30deg);
            box-shadow: 0px 0px 30px rgba($color: #0611ea, $alpha: 0.9);    
        }
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        height: 160px !important;
        width: 180px !important;
        border-radius: 50%;
        transition: all 1s ease-out;
        box-shadow: 0px 0px 20px rgba($color: #1b030177, $alpha: 0.5);    
    }
    h5{
        transition: all 0.6s ease;
    }
    

}
.menuList{
  padding: 1rem;
  background: linear-gradient(to right,rgba(0, 255, 0, 0.594),rgba(45, 250, 212, 0.785));
 
    .marquee{
      width: 100%;
        h3{
          animation: marqueee 7s linear infinite;
        }
     
        animation: colorChange 8s infinite;
    }

    .container{
      //border: 1.5px double rgb(255, 238, 0);
      padding: 2rem;
      margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: 0px 0px 10px rgba(241, 241, 241, 0.621);
    }
    @media (max-width:760px) {
      .marquee{
        h3{
          animation: none;
        }
      }
    }
}
@keyframes marqueee {
  0%{
    transform: translateX(20%);
  }
  0%{
    transform: translateX(100%);
  }
}
@keyframes colorChange {
    0% {
      color: red;
    }
    12.5% {
      color: orange;
    }
    25% {
      color: yellow;
    }
    37.5% {
      color: green;
    }
    50% {
      color: blue;
    }
    62.5% {
      color: indigo;
    }
    75% {
      color: violet;
    }
    87.5% {
      color: pink;
    }
    100% {
      color: red; /* Loop back to the first color */
    }
  }

  .itemC{
    background: url(./assets/table.jpg) no-repeat;
    background-size: cover;
    background-position:bottom ;
    padding: 1rem;
    width: auto;
    height: 100%;
    min-height: max-content;
    h3 { 
      position: relative; 
      color: #f0e623;
      font-weight: 100 !important;
      z-index: 1;
      text-shadow: 0px 0px 2px rgb(240, 232, 232);
       &::before { 
       @include posiBack();
       background-color: #00000031;
      text-shadow: 0px 0px 5px red;
      filter: blur(10px);
         
          
      } }
    div{
      position: relative;
      color: rgb(249, 245, 45);
      z-index: 1;
      &::before{
        @include posiBack();
        background-color: #1f201e9d;
        filter: blur(16px) !important;
      }
      thead{
        color:rgb(239, 208, 8);
      }
    }
  }